# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# Banco de dados
*.db
*.sqlite
*.sqlite3

# Uploads
uploads/
static/uploads/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db